Tracks
.row
  - @tracks.each do |track|
    .col-sm-4
      .card
        %p= track.title
        %iframe{style: "border: 0; width: 100%; height: 42px;", src: "https://bandcamp.com/EmbeddedPlayer/album=2944136907/size=small/bgcol=ffffff/linkcol=0687f5/track=#{track.bandcamp_track_id}/transparent=true/", seamless: true}
          = link_to track.title, 'http://dannysullivan.bandcamp.com/album/soundtracks-2'
        .row
          .col-sm-12
            - track.tags.each do |track_tag|
              %span.badge.badge-secondary= track_tag.name
