Tracks
.row
  - @tracks.each do |track|
    .col-sm-4
      .card
        %h4= track.title
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2944136907/size=small/bgcol=ffffff/linkcol=0687f5/track=490216849/transparent=true/" seamless><a href="http://dannysullivan.bandcamp.com/album/soundtracks-2">Soundtracks by Danny Sullivan</a></iframe>
