.row
  .col-sm-2
  .col-sm-4
    %br
    %p Danny Sullivan is a composer, producer, and songwriter based in Brooklyn, New York. His soundtrack compositions have been featured in podcasts, short and feature-length films, and online videos.
    %p He works with several Brooklyn-based musical artists as a producer, songwriter, and instrumentalist.  He is an experienced live guitarist/bassist and a prolific producer and engineer.
    %p
      %span A graduate of Wesleyan University's computer science program, he is also a professional programmer and has worked on various projects that combine his musical and technical interests, including
      = link_to 'Songer,', 'https://songer-rails.herokuapp.com/songs/new'
      %span a web application that generates original lyrics, chord progressions, and melodies using machine learning.
  .col-sm-4
    %br
    = image_tag 'danny_guitar.png'
