%nav.navbar.navbar-expand-lg.navbar-light.bg-light.soundtracks-header
  .container.text-lg
    = link_to 'Danny Sullivan', root_path, class: 'navbar-brand text-white'
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Tracks', tracks_path, class: 'nav-link text-white'
        %li.nav-item
          = link_to 'Portfolio', portfolio_path, class: 'nav-link text-white'
        %li.nav-item
          = link_to 'About', about_path, class: 'nav-link text-white'
